
.Contenido{
    font-family: Poppins, serif;
}
.Portada{
    display: flex;
}

.container__cover{
    width: 100%;
    height: 800px;
    background-color: aliceblue;
    background-position: right;
    background-repeat: no-repeat;
    padding: 40px;
}

.cover{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__cover .text{
    max-width: 400px;
}

.container__cover .text h1{
    font-size: 36px;
    font-weight: 600;
}

.container__cover .text p{
    font-size: 18px;
    margin-top: 40px;
}

.container__cover .text input{
    padding: 18px 80px;
    border: none;
    font-size: 16px;
    border-radius: 50px;
    margin-top: 40px;
    background: linear-gradient(to right, #fab2b2, #f54d4d);
    color: #fff;
    cursor: pointer;
    box-shadow: 1px 1px 30px -12px #f54d4d;
    transition: all 300ms;
}

.container__cover .text input:hover{
    box-shadow: 1px 1px 30px -6px #f54d4d;
}


.container__cover .svg img{
    width: 600px;
    animation: move-vector 4s linear infinite;
}

@media screen and (max-width: 1700px){
    .container__cover{
        background-position: 50%;
    }
}

@media screen and (max-width:1200px){

    header{
        padding: 40px;
    }

    .container__cover{
        background-position: -100px;
    }

    .container__cover .svg img{
        width: 500px;
    }

}

@media screen and (max-width: 1020px){

    .container__cover{
        background-color: aliceblue;
    }

    .container__cover .svg img{
        display: none;
    }

    .container__cover .text{
        max-width: 600px;
    }
}

/*Para centrar Google Charts*/

.chart{
    margin: 200px auto;
    width: 600px;
    height: 300px;
}
.derechos-reservados{
    padding-right: 30px;
}